
.hero-scroll{
  display: flex;
  justify-content: center;
}
.hero-card {
  display: inline-flex;
  justify-content: center;
  border: 1px solid red;
  background-color: white;
  margin-top: 18px;
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 8px;
  gap: 125px;
}
.hero-card__info{
  margin-top: 16px;
  margin-bottom: 12px;
  display: block;
}
.hero-card__title{
  margin-top: 0px;
  margin-bottom: 16px;
  height: 102px;
}