.card-flow {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card-flow__button {
  position: absolute;
  display: flex;
  gap: 8px;
  bottom: 12px;
  left: 12px;
}
.card-flow__button-card {
  display: inline-block;
  position: relative;
}
.card-flow__small {
  display: flex;
  justify-content: space-between;
}
