@media screen and (min-width: 1023px) {
  .button-secondary {
    font-family: Aeroport-regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.64px;
    height: 40px;
    border: 0px;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .button-icon {
    width: 24px;
    height: 24px;
  }
  .button-iconnone {
    display: none;
  }
}
