.card-tariff {
  width: 100%;
  margin-top: 46px;
}
.card-tariff__section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 12px;
  margin-top: 12px;
  padding: 0px;
}
.card-tariff__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-top: 24px;
  margin-right: 20px;
}
.card-tariff__img {
  /* background-image: url(../../image/icon-tariff.svg); */
  /* background-repeat: no-repeat;
  width: 24px; */
  height: 24px;
}
.card-tariff__option {
  width: 100%;
  border-radius: 20px;
  background-color: var(--main-bt-bgcolor);
  position: relative;
}
.card-tariff__title-text {
  margin: 0px;
}
.card-tariff__button {
  left: 12px;
  bottom: 12px;
  position: absolute;
  box-sizing: border-box;
}
.card-tariff__button-grey {
  background-color: rgba(248, 247, 247, 1);
}
.card-tariff__text {
  padding-left: 12px;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 125px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  list-style-type: "-  ";
}
.card-tariff__comparison {
  box-sizing: border-box;
  margin-top: 14px;
  width: 100%;
  background-color: var(--main-bt-bgcolor);
  border-radius: 20px;
  padding: 16px 16px 16px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-tariff__comparison-text {
  color: #222;
  font-family: Aeroport-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.64px;
  margin: 0px;
}
.card-tariff__comparison-button {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  background-color: rgba(248, 247, 247, 1);
  border: 0px;
  padding: 0px;
  background-image: url(../../image/icon-button.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .card-tariff {
    margin-top: 33px;
  }
  .card-tariff__section {
    flex-direction: column;
  }
  .card-tariff__text {
    margin-bottom: 95px;
  }
}
