.scroll-block {
  width: 100%;
  max-width: 732px;
  bottom: 0px;
  position: fixed;
  height: 52px;
  /* position: relative; */
  display: flex;
  flex-direction: column;
}
.scroll-section {
  position: relative;
  height: 100%;
}
.scroll-block__light-green {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(225, 254, 119, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* top: 11px; */
  z-index: 1;
}
.scroll-block__blue {
  position: absolute;
  background-color: rgba(184, 239, 253, 1);
  top: 11px;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 2;
}

.scroll-block__lilac {
  position: absolute;
  top: 22px;
  height: 100%;
  background-color: rgba(213, 205, 255, 1);
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 3;
}

.scroll-block__none {
  display: none;
}

@media screen and (max-width: 760px) {
  .scroll-section {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media screen and (max-width: 600px) {
  .scroll-section {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 479px) {
  .scroll-section {
    margin-left: 12px;
    margin-right: 12px;
  }
}
