.card-product {
  margin-top: 37px;
  margin-bottom: 152px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-product__small {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
