.header {
  padding: 16px 16px 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__nav-menu {
  display: flex;
  gap: 12px;
}
.header__button-img {
  border: none;
  width: 40px;
  height: 40px;
  padding: 0px;
  background-color: transparent;
  background-image: url(../../image/icon-header.svg);
  background-repeat: no-repeat;
}
.header__button-menu {
  border: none;
  width: 40px;
  height: 40px;
  padding: 0px;
  background-image: url(../../image/icon-header-menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
}

@media screen and (max-width: 760px) {
  .header {
    padding: 16px 14px 0px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 12px 32px 0px;
  }
  .header__nav-menu {
    margin-left: 163px;
  }
}

@media screen and (max-width: 479px) {
  .header {
    padding: 12px 12px 0px;
  }
  .header__nav-menu {
    margin-left: 110px;
  }
}
