.card-big {
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 412px;
  white-space: pre-line;
  background-color: var(--main-bt-bgcolor);
  position: relative;
  padding: 8px 8px 0px 24px;
}
.card-big__img {
  width: 218px;
  height: 340px;
}
.card-big__text {
  margin-top: 16px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.card-big__button {
  position: absolute;
  display: flex;
  gap: 8px;
  bottom: 12px;
  left: 12px;
  /* border: 1px solid red; */
}

@media screen and (max-width: 600px) {
  .card-big {
    flex-direction: column;
    height: 399px;
    align-items: end;
  }
  .card-big__img {
    width: 216px;
    height: 137px;
    background-color: rgba(203, 250, 146, 1);
    border-radius: 16px;
    margin-bottom: 8px;
    margin-right: 0px;
  }
  .card-big__text {
    gap: 10px;
    width: 100%;
  }
  .card-big__button {
    gap: 6px;
    top: 166px;
    left: 15px;
  }
}
